.pitsa {
    background-color: rgb(187, 224, 212);
    font-family: "Arial", sans-serif;
}
.container {
    margin-top: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding: 24px;
}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pitsa__title {
    margin: 0;
    text-align: center;
    margin-bottom: 32px;
    font-weight: bolder;
    font-size: 32px;
    line-height: 24px;
}
.pitsa__form {
    display: flex;
}
.pitsa__left {
    width: 60%;
    margin-right: auto;
}
.pitsa__wrap {
margin-bottom: 32px;
}
.pitsa__wrap-extra{
    display: flex;
    align-items: center;
}
.pitsa__wrap-extra h2{
    margin: 0;
    margin-right: 16px;
}
.pitsa__wrap-extra span{
    display: block;
}
.pitsa__wrap-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
}
.pitsa__select{
    padding: 8px 16px;
    border: 1px solid black;
    font-weight: bold;
}
.pitsa__size-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.pitsa__label-radio:not(:last-of-type){
    margin-right: 20px;
}
.pitsa__label-radio{
    margin-bottom: 20px;
}
.pitsa__size-control{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}
.pitsa__product__wrap{
    display: flex;
    flex-wrap: wrap;
}
.pitsa__asortiment__wrap{
    display: flex;
    flex-wrap: wrap;
}
.pitsa__label-check{
    width: 220px;
    display: block;
    margin-right: 20px;
}
.pitsa__label-check:not(:last-of-type){
    margin-bottom: 8px;
}
.pitsa__size-control,
.pitsa__product-control,
.pitsa__asortiment-control{
    font-size: 20px;
    line-height: 20px;
    font-weight: 600px;
}
.pitsa__product-control,
.pitsa__asortiment-control{
    display: inline-flex;
    align-items: center;
}
.pitsa__product-control::before,
 .pitsa__asortiment-control::before{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin-right: 10px;
    content: "";
}
.pitsa__product:checked ~.pitsa__product-control::before,
.pitsa__asortiment:checked ~.pitsa__asortiment-control::before,
.pitsa__size:checked~.pitsa__size-control{
    background-color:tomato;
}
.pitsa__right {
    width: 35%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    margin-bottom: 8px;
}
input[type='submit']{
    padding: 16px 24px;
    background-color: tomato;
    color: white;
    font-size: 24px;
    line-height: 16px;
}
input[type='submit']:hover{
    background-color: white;
    color: tomato
}
@media screen and (max-width:750px) {
    .pitsa__form{
        flex-direction: column;
    }
    .pitsa__left{
        width: 100%;
    }
    .pitsa__right{
        width: 100%;
    }
    
}